@import "tailwindcss";

@theme {
  --color-background: #F9F8F6;
  --color-background-dark: #F1EFEA;
  
  --color-primary: #2C2C2C;
  --color-secondary: #666666;
  --color-accent: #8FA89B;

  --font-serif: "Noto Serif TC", "Georgia", "ui-serif", "serif";
  --font-sans: "Noto Sans TC", "ui-sans-serif", "system-ui", "sans-serif";
  --tracking-widest: 0.25em;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: var(--font-sans);
  }
}

::selection {
  background-color: var(--color-background-dark);
  color: var(--color-primary);
}

::scrollbar {
  width: 4px;
}

::scrollbar-thumb {
  background-color: var(--color-secondary)/50%;
  border-radius: 4px;
}