@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: #F9F8F6;
  --color-background-dark: #F1EFEA;

  --color-primary: #2C2C2C;
  --color-secondary: #666666;
  --color-accent: #8FA89B;

  --font-serif: "Noto Serif TC", "Georgia", "ui-serif", "serif";
  --font-sans: "Noto Sans TC", "ui-sans-serif", "system-ui", "sans-serif";
  --tracking-widest: 0.25em;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: var(--font-sans);
  }
}

::selection {
  background-color: var(--color-background-dark);
  color: var(--color-primary);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.7);
}